.btn1 {
  position: relative;
  background-color: #004958;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.btn1_text {
  display: block;
  padding: 12px 24px;
  border-radius: 15px;
  background-color: #00c2cb;
  /* font-size: 1rem; */
  font-weight: 500;
  color: #42455a;
  transform: translateY(-6px);
  transition: transform ease 0.1s;
}
.btn1:active .btn1_text {
  transform: translateY(-2px);
}

.btn2 {
  position: relative;
  padding: 12px 24px;
  border-radius: 15px;
  border: 2px solid #00c2cb;
  background-color: transparent;
  outline: 2px solid #00c2cb;
  outline-offset: -2px;
  /* font-size: 1rem; */
  color: #00c2cb;
  font-weight: 500;
  cursor: pointer;
  transition: outline-offset 200ms ease;
}
.btn2:hover {
  color: #51eeee;
  outline-offset: 3px;
}
.btn2:active {
  transform: scale(0.95);
}

.btn3 {
  position: relative;
  overflow: hidden;
  background: transparent;
  padding: 12px 50px;
  border-radius: 15px;
  border: none;
  /* font-size: 1rem; */
  /* color: #e0ffff; */
  color: #03dddd;
  font-weight: 500;
  cursor: pointer;
  z-index: 1;
}
.btn3:active {
  transform: scale(0.95);
}
.btn3::before {
  content: "";
  position: absolute;
  inset: -3px 50px;
  /* background-color: #42455a; */
  background-color: #a9fbff;
  transition: inherit 350ms ease;
  z-index: -2;
}
.btn3:hover::before {
  inset: -20px 0px;
  background-color: #00c2cb;
}
.btn3::after {
  content: "";
  position: absolute;
  inset: 3px;
  border-radius: 10px;
  /* background-color: #22232e; */
  background-color: #fff;
  z-index: -1;
}

.btn4 {
  position: relative;
  overflow: hidden;
  background-color: #7787ff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  font-size: 1rem;
  color: #e0ffff;
  font-weight: 500;
  cursor: pointer;
  z-index: 1;
}
.btn4:active {
  transform: scale(0.95);
}
.btn4::before {
  content: "";
  position: absolute;
  inset: -1px 30px;
  background: #bbfcff;
  transition: 500ms;
  animation: rotate 4s linear infinite;
  z-index: -1;
}
.btn4:hover::before {
  inset: -1px;
}
.btn4::after {
  content: "";
  position: absolute;
  inset: 3px;
  border-radius: 50%;
  background: #c6ccff;
  z-index: -1;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn5 {
  position: relative;
  padding: 12px 24px;
  /* font-size: 1rem; */
  border-radius: 15px;
  border: none;
  background: #00c2cb;
  color: #22232e;
  overflow: hidden;
  cursor: pointer;
}
.btn5:active {
  transform: scale(0.95);
}
.btn5 span {
  position: absolute;
  background: #004958;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: ripple 2s linear infinite;
  transition: 0.5s;
}
.btn6 {
  position: relative;
  padding: 12px 24px;
  /* font-size: 1rem; */
  border-radius: 15px;
  border: none;
  background: #00c2cb;
  color: #22232e;
  overflow: hidden;
  cursor: pointer;
}
.btn6:active {
  transform: scale(0.95);
}
.btn6 span {
  position: absolute;
  background: none;
  border: 3px solid #004958;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: ripple 2s linear infinite;
  transition: 0.5s;
}
@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

.btn7 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: relative;
}
.btn7 .btn7-text {
  padding: 12px 24px;
  /* font-size: 16px; */
  color: #000;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  background: rgba(0, 73, 88, 0.05);
  backdrop-filter: blur(15px);
  cursor: pointer;
  z-index: 1;
  transition: 0.2s;
}
.btn7::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 25%;
  height: 10px;
  background: #00c2cb;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(0, 194, 203, 0.5);
}
.btn7:hover::before {
  bottom: 0;
  height: 40%;
  width: 90%;
  border-radius: 30px;
  transition-delay: 0.5s;
}
